html {
  box-sizing: border-box;

  font: normal 100%/1.5 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  min-width: 320px;
}

.banner {
  position: relative;
  background-color: #2b3851;
  height: 240px;
}

.robot {
  width: 320px;
  top: 3em;
  margin: auto;
  position: relative;
}

.robot-body {
  width: 320px;
  margin: auto;
}

.robot-brain {
  width: 46px;
  position: absolute;
  left: 8.5em;
  top: .3em;
}

.robot-head-right,
.robot-head-left {
  width: 125px;
}

.robot-head-right {
  position: absolute;
  top: -3em;
  left: 50%;
}

.robot-head-left {
  position: absolute;
  right: 50%;
  top: -3em;
}

.robot:hover .robot-head-right {
  left: 55%;
  top: -4em;
}

.robot:hover .robot-head-left {
  right: 55%;
  top: -4em;
}

.robot:hover .robot-brain {
  top: 2em;
}
